.item {
    padding: 10px; 
    margin: 10px; 
    border-radius: 5px; 
    background-color: rgb(193, 255, 203);
    border-color: darkgrey;
    width: 100%; 
    border-style: solid; 
    border-width: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.item:hover{
    background-color: rgb(95, 173, 83);
}