.topmenu {
    height: 50px;
    width: 100%;
    background-color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    display: flex;
}

.topmenu-item {
    color: white;
    padding: auto;
    margin: auto;
    cursor: pointer;
}

.active {
    color: orange;
    padding: auto;
    margin: auto;
}

a:visited {
    text-decoration: none;
    color: inherit; /* Or specify a desired color */
}
a:link { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }